.wrapper {
    padding-top: 50px;
    background-color: #f7faff;
    width: inherit;
    .padding-0 {
        padding:0;
    }
    .bg-content {
    
    //   padding: 0px 30px;

    .title-content {
       text-align: center;
        
    }
    }
    .AD-show-dropdown {
        margin-left: 50px;
        margin-right: 10px;
    }
    .AD-clear-filter {
        margin-left: 20px;
    }
    
}