.contact-section {
    padding-top: 120px;
    z-index: 990;
    position: relative;
    text-align: center;
    color: #fff;
    background-image: url(../../img/footer.jpg);
    background-size: cover;
    background-position: bottom;
  }
  
  .contact-section .overlay {
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    background-image: -webkit-radial-gradient(48% 65%, 200% 130%, rgba(33, 37, 41, 0.5), rgba(33, 37, 41, 0.6), rgba(33, 37, 41, 0.7), rgba(33, 37, 41, 0.87), rgba(33, 37, 41, 0.99), #212529 55%, #212529 200%);
    background-image: radial-gradient(200% 130% at 48% 65%, rgba(33, 37, 41, 0.5), rgba(33, 37, 41, 0.6), rgba(33, 37, 41, 0.7), rgba(33, 37, 41, 0.87), rgba(33, 37, 41, 0.99), #212529 55%, #212529 200%);
  }
.footer {
    position: relative;
    width: 100%;
    z-index: 999;
    display: flex;
    padding: 20px 0;
    margin-top: 50px;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
  }
  
  .footer .infos {
    text-align: right;
    color: #fff;
    opacity: 1;
    width: 50%;
    margin-bottom: -1px;
    padding: 0 4px;
    font-size: 14px;
  }
  
  .footer .infos a {
    color: inherit;
    display: inline-block;
  }
  
  .footer span {
    width: 40px;
    display: inline-block;
    text-align: center;
  }
  
  .footer .links {
    width: 50%;
    text-align: left;
    padding: 0 4px;
  }
  
  .footer .links a {
    display: inline-block;
    margin: 0 15px;
    color: #fff;
    opacity: 1;
    font-size: 14px;
  }
  
  .footer .links a:first-child {
    margin-left: 0;
  }
  
  @media (max-width: 991.98px) {
    .footer {
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -webkit-flex-direction: column;
          -ms-flex-direction: column;
              flex-direction: column;
    }
    .footer .infos,
    .footer .links {
      width: 100%;
      text-align: center;
      margin: 5px 0;
    }
    .footer span {
      display: none;
    }
  }