.btn-srcoll-on-top{
    position: fixed;
    bottom: 30px;
    right: 1%;
    color:#478ac9e6 ;
    z-index: 999;
    font-size: 4rem;
    cursor: pointer;
}
.btn-srcoll-on-top:hover{
    color: #0A8EC0;
}