@import url("https://fonts.googleapis.com/css2?family=Lato:wght@300&family=Montserrat:wght@700&family=Open+Sans:wght@600;700&family=Raleway:wght@300&family=Roboto:wght@300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Barlow:wght@300&family=Cardo&display=swap");

.blog-page {
  color: white;

  .content-body {
    margin-top: 110px;

    .c-header {
      font-size: 48px;
      font-weight: 700;

      &::after {
        content: "";
        display: block;
        width: 10%;
        height: 15px;
        background-color: #f1a40e;
        justify-content: end;
      }
    }
    .row-select {
      display: flex;
      justify-content: flex-end;
      .select {
        width: 150px;
        margin-bottom: 40px;
      }
    }

    .card-blog {
      .c-img {
        height: 250px;
        padding: 10px 10px 0 10px;
        background-color: #e9ecef;
        object-fit: cover !important;
      }

      .c-body {
        height: 15.6rem !important;
        margin-top: -5px;

        .card-link {
          text-decoration: none;
          padding-bottom: 25px;
        }

        .c-title {
          text-decoration: none;
          color: black;
          font-size: 20px;
          font-weight: 700;

          &:hover {
            color: #f1a40e;
          }
        }
      }
    }
  }
}

@media only screen and (min-width: 768px) and (max-width: 1399px) {
  .c-body {
    height: 13.5rem !important;
  }

  .card-1 {
    width: 336px !important;
  }
}

@media only screen and (min-width: 250px) and (max-width: 767.99px) {
  .c-body {
    height: 13rem !important;
  }

  .card-1 {
    width: 336px !important;
  }
}

.card-back {
  color: white;
  margin-top: 20px;
  font-size: 20px;

  .to-home {
    text-align: center;
  }
  &:hover {
    color: #f1a40e;
  }
}

.carousel-control-prev {
  display: none;
}

.carousel-control-next {
  display: none;
}

// -------------------Blog details ----------------
.bd-page {
  margin-top: 110px;
  background-color: #f0f0f0;
  font-family: "Barlow", sans-serif;
  padding-bottom: 40px;
  font-size: 22px;
  color: #6b3f2e;

  .bd-title {
    .bd-title-content {
      font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
        Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji",
        "Segoe UI Symbol";
      color: #7e2503;
      font-size: 50px;
      display: flex;
      font-weight: 600;

      &::after {
        content: "";
        flex-grow: 1;
        height: 5px;
        margin-left: 10px;
        margin-top: 40px;
        background-color: #6b3f2e;
      }
    }
  }

  .bd-auth {
    font-family: "Cardo", serif;
    text-align: end;
    font-size: 30px;
    font-weight: 400;
    color: #6b3f2e;
  }

  .bd-pov-1 {
    margin-top: 15px;

    .bd-pov-content-1 {
      margin-top: 8px;
    }

    img {
      width: 300px;
      height: 300px;
      background-image: cover;
      object-fit: cover;
    }
  }

  .bd-pov-2 {
    margin-top: 20px;

    img {
      margin-top: 0px !important;
      width: 300px;
      height: 300px;
      background-image: cover;
      object-fit: cover;
    }
  }

  .bd-pov-3 {
    margin-top: 20px;
    img {
      margin-top: -5px !important;
      width: 300px;
      height: 300px;
      background-image: cover;
      object-fit: cover;
    }
  }
}

@media only screen and (min-width: 768px) and (max-width: 1180px) {
  .bd-page {
    font-size: 18px !important;
  }

  .bd-pov-1 {
    img {
      width: 250px !important;
      height: 300px !important;
      background-image: cover;
      object-fit: cover;
    }

    .bd-pov-content-1 {
   
    }
  }

  .bd-pov-2 {
    margin-top: 20px !important;
    img {
      margin-top: -5px !important;
      height: 300px !important;
      width: 240px !important;
      background-image: cover;
      object-fit: cover;
    }
  }

  .bd-pov-3 {
    margin-top: 20px !important;

    img {
      height: 300px !important;
      width: 300px !important;
      background-image: cover;
      object-fit: cover;
    }

    .bd-pov-content-1 {
      margin-top: 15px !important;
    }
  }
}

@media only screen and (min-width: 250px) and (max-width: 767.99px) {
  .bd-page {
    font-size: 18px !important;
  }

  .bd-pov-1 {
    img {
      width: 300px !important;
      height: 300px !important;
      
    }
  }

  .bd-pov-2 {
    margin-top: 20px !important;
    img {
      margin-top: 20px !important;
      height: 300px !important;
      width: 300px !important;
    }
  }

  .bd-pov-3 {
    img {
      margin-top: 20px !important;
      height: 300px !important;
      width: 300px !important;
    }
  }
  .bd-title-content{
    font-size: 30px !important;
  }
}
